html,
body,
header,
main,
ul,
li,
footer,
table,
tr,
td {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: sans-serif;

}

body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: #e2e2e2;
  background-image: url("/images/back0.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  padding-top: 20px;
  height: 30mm;
  overflow: hidden;
}

header h1 {
  font-size: 1.25rem;

}

main {
  width: 250mm;
  max-width: calc(100vw - 50mm);
  padding: 20mm;
  background-image: -webkit-linear-gradient(grey, white);
  flex-grow: 1;

}

.dark {
  background-color: #282828;
  color: #f0f0f0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.listaAtividades {
  margin: 10mm 0;
  list-style: none;
}

ul.listaAtividades>li {
  margin-bottom: 2.5mm;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0%;
  padding: 2.5mm;
  display: flex;
}

ul.listaAtividades>li:last-child {
  margin-bottom: 0;
}

ul.listaAtividades>li:hover {
  border: 3px solid rgba(0, 0, 0, 0.775);
  background-color: rgba(0, 0, 0, 0.125);
}

ul.listaAtividades>li>label {
  padding: 0 5mm;
  flex-grow: 1;
}

li.feito>label {
  text-decoration: line-through;
  font-style: italic;
  color: gray;
}

footer {
  height: 15mm;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}

footer p,
footer a {
  margin: 0;
  color: rgba(255, 255, 255, 0.849);
  font-size: .75rem;
  transition: color 500ms;
}

footer a:hover {
  color: rgba(219, 47, 47, 0.555);
}